* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}
::selection {
  background: var(--pink);
}
body {
  font-family: "Montserrat", sans-serif;
}
.header-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/bg4.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
header nav {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav h1 {
  font-size: 3.5ch;
  color: var(--light);
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}
nav h1 span {
  color: var(--danger);
}
nav h1:hover,
nav ul li a:hover {
  transform: translateY(-3px);
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-flex;
  margin-right: 10px;
}
nav ul li a {
  font-size: 2ch;
  text-decoration: none;
  font-weight: 500;
  color: var(--light);
  transition: 0.3s;
}
nav ul li .home {
  color: var(--danger);
}

nav ul li:last-child {
  background: #423a32;
  padding: 10px 15px;
  border-radius: 25px;
  transition: 0.3s;
}
nav ul li:last-child:hover {
  background: var(--light);
  transform: translateY(3px);
}
nav ul li a:hover {
  color: var(--pink);
}
.header-container .intro {
  margin-top: 200px;
  padding: 50px 0px;
  display: grid;
  place-items: center;
}
.intro h3 {
  font-size: 2rem;
  color: var(--light);
}
.intro .bdr {
  width: 100px;
  height: 3px;
  background: var(--danger);
  margin: 20px 0;
}
.intro h1 {
  font-size: 4rem;
  color: var(--white);
  margin: 20px 0;
}
.intro button {
  border: 0;
  padding: 10px 15px;
  background: var(--blue);
  border-radius: 20px;
}
.intro button a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--light);
}
/* end of header container */

/*==========
Quote
=========== */
.quote {
  padding: 10px 5px;
  background: #2b1a10;
}
.quote blockquote {
  border-left: 10px solid var(--indigo);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  font-size: 3ch;
  line-height: 1.55;
  text-align: center;
  color: var(--light);
  font-weight: 600;
}
.quote blockquote .said {
  color: var(--success);
}
.quote blockquote p span {
  color: var(--success);
}
/* End of quote */

/* =======
Events
=========== */
.events {
  margin: 100px 0px;
  background: var(--white);
}
.events .tagline {
  display: grid;
  place-items: center;
  margin-bottom: 50px;
}
.events .tagline h1 {
  font-size: 3rem;
  color: var(--warning);
}
.events .tagline .bdr {
  width: 100px;
  height: 3px;
  background: var(--success);
  margin: 20px 0;
}

.events .event-cards {
  display: flex;
  justify-content: space-evenly;
}
.events .event-cards .card {
  overflow: hidden;
  display: grid;
  place-items: center;
  grid-gap: 20px;
  padding: 5px 10px;
  width: 420px;
}
.event-cards .card img {
  width: 400px;
  box-shadow: 10px 8px 0px var(--success);
}
.event-cards .card p {
  color: var(--secondary);
  line-height: 1.5;
  text-align: center;
}
.event-cards .card button {
  border: 0;
  padding: 10px 15px;
  background: var(--blue);
  border-radius: 20px;
  transition: 0.3s;
}
.event-cards .card button a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--light);
}
.event-cards .card button:hover {
  transform: translateY(-5px);
}
